
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 body {
    min-height: 100vh;
background-image: url("images/bg2.jpeg");
background-color: black;
background-repeat: no-repeat;
background-size: cover;
position:relative;
}
.head{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 2rem 10%;
display: flex;
align-items: center;
justify-content: space-between;
z-index: 100;
color: white;

}
.head::before{
content: '';
position: absolute;
height: 100%;
background-color: rgba(0,0,0,.1);
backdrop-filter:blur(50px);
top: 0;
left: 0;
width: 100%;
z-index: -1;

}
.aboutinfo a{
     font-size: 127px;
    line-height: 100px;
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 1px white;
    background: url(images/name7.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 30s linear infinite;
    
}

@keyframes back{
    100%{
        background-position: 2000px 0;

    }
}
.head::after{
content: '';
position: absolute;
height: 100%;
top: 0;
left: -100%;
width: 100%;
background: linear-gradient(90deg,transparent , rgba(255,255,255,.4) , transparent);

transition: .5s;
}

.head:hover::after{
left: 100%;
}
.name{
color: white;
text-decoration: none;
font-size: 1.5rem;
font-weight: 800;
}
nav a{
color: white;
text-decoration: none;
font-size: 1.5rem;
font-weight: 600;
margin-left: 3rem;
margin-right: 0;


}
#check{
display: none;

}
.icon{
color: white;
font-size: 3rem;
display: none;
cursor: pointer;
position: absolute;
right: 5%;

}
@media (max-width : 992px){
.head{
padding: 2rem 5%;
}
}

@media (max-width: 768px){
.icon{
display: inline-flex;
}

#check:checked~.icon #menu-icon{
display: none;
}

.icon #close-icon{
display: none;
}

#check:checked~.icon #close-icon{
display: block;
}


.nav{
position: absolute;
top: 100%;
left: 0;
width: 100%;
height: 0;
background: rgba(0,0,0,.1);
backdrop-filter: blur(50px);
box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
transition: .3s ease;
overflow: hidden;
}

#check:checked~.nav{
height: 17.7rem;

}

.nav a{
display: block;
font-size: 1.1rem;
margin: 1.5rem 0;
text-align: center;
opacity: 0;
transform: translateY(-50px);
transition: .3s ease;
}
#check:checked~.nav a{
transform: translateY(0);
transition-delay: calc(.15s * var(--i));
opacity: 1;

}
}

.about{
font-family: sans-serif;
color:white;
font-size: 4rem;
}
.aboutinfo{
color:white;
font-size: 2rem;
border-radius: 4rem;
align-content: center;
align-items: center;
padding: 4rem;
margin-left: 3rem;
margin-right: 3rem;
margin-top :8rem;
background-color: rgba(0,0,0,0.5);

}
.aboutinfo img{
float: right;
width: 100%;
height: 300px;
width: 300px;
align-content: center;
padding-bottom: 4rem;
}
.skills{
font-family: sans-serif;
color:white;
font-size: 4rem;

}
.skillinfo{

font-size: 2rem;
border-radius: 4rem;
align-content: center;
align-items: center;
padding: 4rem;
margin-left: 3rem;
margin-right: 3rem;
margin-top :5rem;

}
.lang{
border-radius: 4rem;
align-content: center;
background:transparent;
color:white;
grid-column-start: 1;
grid-column-end: 2;
padding: 4rem;

}
.comm{
border-radius: 2rem;
align-content: center;
color:white;
background:transparent;
grid-column-start: 3;
grid-column-end: 4;
padding: 4rem;

}
.comm:hover{
/* letter-spacing: 0.1rem; */
/* background: var(--clr); */
box-shadow: 0 0 70px rgb(253, 54, 87);

}
.lang:hover{
/* letter-spacing: 0.1rem; */
/* background: var(--clr); */
box-shadow: 0 0 70px rgb(253, 54, 87);

}
.grid-container{
display: grid;
    grid-template-columns: auto auto ;
        gap: 10px;
        padding: 10px;
}

.grid-contain-pr{
display: grid;
    grid-template-columns: auto auto auto ;
        gap: 10px;
        padding: 10px;

}
.projects img{
height: 300px;
width: 500px;
align-content: center;

}
.project1{
grid-column-start: 1;
grid-column-end: 2;
align-content: center;
padding: 2rem;
background-color: rgba(0,0,0,0.5);
border-radius: 20px;

}
.project1:hover{

box-shadow: 0 0 70px rgb(253, 54, 87);
}
.project2:hover{

box-shadow: 0 0 70px rgb(253, 54, 87);
}
.project3:hover{

box-shadow: 0 0 70px rgb(253, 54, 87);

}
.project2{
grid-column-start: 3;
grid-column-end: 4;
align-content: center;
padding: 2rem;
background-color: rgba(0,0,0,0.5);
border-radius: 20px;


}
.project3{
grid-column-start: 5;
grid-column-end: 6;
align-content: center;
padding: 2rem;
background-color: rgba(0,0,0,0.5);
border-radius: 20px;

}
.projects{
color: white;
padding: 2rem;
margin-left: 2rem;
margin-right: 3rem;
margin-top :5rem;

}
.projects h1{
    font-size: 3rem;
}

.nav:hover a{
text-decoration:wavy;
color: white;
transition: 0.5s;
}

.projects p{
padding: 1rem;
}

.resume{
    color: white;
    padding: 4rem;
margin-left: 1.5rem;
margin-right: 3rem;
margin-top :1rem;
font-size: 2rem;
}
.resume a{
    border-radius: 10px;
    color:black;
}
.resume input{
    background-color: white;
    font-size: 2rem;
    font-weight:bold ;
    border-radius: 10px;
    padding: 2rem;
    margin-top: 10px;
}

.resume input:hover{
    letter-spacing: 0.05rem;
    box-shadow: 0 0 70px pink;
    cursor: pointer;
}
.grid-contain-contact{
    display: grid;
    grid-template-columns: auto auto auto  ;
    gap: 10px;
    padding: 10px;
    }
.grid-contain-contact h1{
    font-size: 2.5rem;
}    
.phone{
    padding: 4rem;
    color: white;
    align-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.5);
    grid-column-start: 1;
    grid-column-end: 2;
}    
.phone i{
    font-size: 3.5rem;
   align-items: center;
   margin-left: 6rem;
}
.phone p{
    margin-left: 4rem;
}
.phone:hover{
    box-shadow: 0 0 70px greenyellow;
    cursor: pointer;
}
.mail{
    padding: 4rem;
    color: white;
    align-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.5);
    grid-column-start: 3;
    grid-column-end: 4;
}    
.mail i{
    font-size: 3.5rem;
   align-items: center;
   margin-left: 7rem;
}
.mail p{
    margin-left: 3.5rem;
}
.mail:hover{
    box-shadow: 0 0 70px red;
    cursor: pointer;
}
.ad{
    padding: 4rem;
    color: white;
    align-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.5);
    grid-column-start: 5;
    grid-column-end: 6;
}    
.ad i{
    font-size: 3.5rem;
   align-items: center;
   margin-left: 16rem;
}
.ad p{
    margin-left: 3.5rem;
}
.ad:hover{
    box-shadow: 0 0 70px burlywood;
    cursor: pointer;

}
.contact{
    align-items: center;
    align-self: center;
    align-content: center;
    color: white;
    padding: 2rem;
margin-left: 2rem;
margin-right: 3rem;
margin-top :1rem;

}

.thank p{
    font-size: 2rem;
    text-align: center;
    color: white;
    font-weight: bold;
}
.thank h6{
    color: white;
    text-align: right;
    font-size: 1rem;
    margin-right: 0.5rem;
}
.thank{
    background-color: rgba(0,0,0,0.5);
}
.icons {
text-align: center;
    font-size: 4rem;
}
